name: Build

on:
  push:
    branches: main
  pull_request:
    branches: '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_jupyter-chat:
    runs-on: ubuntu-latest
    name: Build jupyter_chat

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Install dependencies
      run: python -m pip install -U "jupyterlab>=4.0.0,<5"

    - name: Lint the packages
      run: |
        set -eux
        jlpm
        jlpm run lint:check

    - name: Build the core package
      run: jlpm build:core

    - name: Test the packages
      run: |
        set -eux
        jlpm run test

  test_extensions:
    runs-on: ubuntu-latest
    needs: build_jupyter-chat
    name: Python test on extensions

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Install dependencies
      run: python -m pip install -U "jupyterlab>=4.0.0,<5"

    - name: Build the extensions
      run: |
        set -eux
        ./scripts/dev_install.sh
        pytest -vv -r ap --cov

  build_extension:
    runs-on: ubuntu-latest
    needs: build_jupyter-chat
    name: Build chat extension

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Install dependencies
      run: python -m pip install -U "jupyterlab>=4.0.0,<5"

    - name: Package the extensions
      run:  |
        jlpm install
        jlpm build

    - name: Package extension
      run: |
        set -eux
        pip install build python/jupyterlab-collaborative-chat
        python -m build python/jupyterlab-collaborative-chat
        pip uninstall -y "jupyterlab_chat" jupyterlab

    - name: Upload package
      uses: actions/upload-artifact@v3
      with:
        name: jupyterlab_chat-artifacts
        path: python/jupyterlab-collaborative-chat/dist/jupyterlab_chat*
        if-no-files-found: error

  integration-tests:
    name: Integration tests
    needs: build_extension
    runs-on: ubuntu-latest

    env:
      PLAYWRIGHT_BROWSERS_PATH: ${{ github.workspace }}/pw-browsers

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Base Setup
      uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

    - name: Download extension package
      uses: actions/download-artifact@v3
      with:
        name: jupyterlab_chat-artifacts

    - name: Install the extension
      run: |
        set -eux
        python -m pip install "jupyterlab>=4.0.0,<5" jupyterlab_chat*.whl

    - name: Install dependencies
      working-directory: python/jupyterlab-collaborative-chat/ui-tests
      env:
        YARN_ENABLE_IMMUTABLE_INSTALLS: 0
        PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1
      run: jlpm install

    - name: Set up browser cache
      uses: actions/cache@v3
      with:
        path: |
          ${{ github.workspace }}/pw-browsers
        key: ${{ runner.os }}-${{ hashFiles('ui-tests/yarn.lock') }}

    - name: Install browser
      run: jlpm playwright install chromium
      working-directory: python/jupyterlab-collaborative-chat/ui-tests

    - name: Execute integration tests
      working-directory: python/jupyterlab-collaborative-chat/ui-tests
      run: |
        jlpm playwright test --retries=2

    - name: Upload Playwright Test report
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: jupyterlab_chat-playwright-tests
        path: |
          python/jupyterlab-collaborative-chat/ui-tests/test-results
          python/jupyterlab-collaborative-chat/ui-tests/playwright-report

  check_links:
    name: Check Links
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - uses: jupyterlab/maintainer-tools/.github/actions/check-links@v1
